*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(cornflowerblue,lightblue,lightcyan);
    display: flex;
    flex-wrap: wrap;
}
.navbar{
    height: 5%;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    color: white;
    font-family: cursive;
}


.image{
    height: 30%;
    width: 100%;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: center;
}

.description{
    height: 30%;
    width: 100%;
    /* background-color: lightblue; */
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
.description h1{
    font-family: cursive;
}
.list{
    height: 30%;
    width: 100%;
    /* background-color: lightskyblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:gray;
    font-size: 1.5em;
}
.footer{
    height: 5%;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    
    
}

.footerbutton button {
    
    height: 30px;
    width: 100px;
    background-color:lightblue;
    border: 2px solid lightblue;
    border-radius: 10px;
    margin-top: 5px;
}
