*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(cornflowerblue,lightblue,white);
    display: flex;
    flex-wrap: wrap;
}
.navbar{
    height: 5%;
    width: 100%;
    background-color: lightgray;
}
.image{
    height: 30%;
    width: 100%;
    background-color: lightcyan;
}
.description{
    height: 30%;
    width: 100%;
    background-color: lightblue;
}
.list{
    height: 30%;
    width: 100%;
    background-color: lightskyblue;
}
.footer{
    height: 5%;
    width: 100%;
    background-color: lightgrey;
}