*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(cornflowerblue,lightblue,white);
    display: flex;
    flex-wrap: wrap;
}
.navbar{
    height: 5%;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    color: white;
    font-family: cursive;
}


.image{
    height: 30%;
    width: 100%;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
}

.description{
    height: 30%;
    width: 100%;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
.description h1{
    font-family: cursive;
}
.list{
    height: 30%;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}
.footer{
    height: 5%;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    
    
}

.footerbutton button {
    
    height: 30px;
    width: 100px;
    background-color: aqua;
    /* margin-right: 20px; */
}